header {
    background: #0328DE;
    color: #ffffff;
    padding: 2% 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sect-tipo{
    padding: 3% 0;
}
/* thead, tbody {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
*/
/* tr:nth-child(even) {
    background-color: #dddddd;
} */

#img {
    height: 60px;
    width: auto;
}

strong {
    font-size: 14px;
}

.img_btn {
    height: 60px;
    width: 65px;
}

@media (max-width: 425px){ 
    .btn {
        height: 40px;
        width: 70px;
        font-size: 0;
        line-height: 0;
    }
    .img_btn { 
        display: none;
    }
}

/* @media (max-width: 425px){
    .img_btn { 
        display: none;
    }
} */

.table {
    table-layout: auto;
    width: auto; 
    margin-left: auto; 
    margin-right: auto; 
}  

/* #scrollarea-invalid {
    overflow-y: scroll !important;
    height: 350px;
} */

#pokemon-go{
    margin-left: left;
}

.col-4{
    margin-bottom: 10px;
}

/* html {overflow-x: scroll;}

.table {
     table-layout: auto;
    width: auto; 
    overflow-x: scroll;
}  */

/* .container {
    height: 50px;
} */

/* .col_boton{
    border:black solid;  
    border-width: 50px;
}  */

/* .boton_img{ 
    text-align: center;
} */

/* @media (min-width: 320px){
    .col { padding-right: 0 !important;
    }
}

@media (min-width: 320px){
    .col { columns: sm-12px;
    }
    