header {
    background: #0328DE;
    color: #ffffff;
    padding: 2% 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sect-tipo{
    padding: 3% 0;
}

#img {
    height: 60px;
    width: auto;
}

strong {
    font-size: 14px;
}

.img_btn {
    height: 60px;
    width: 65px;
}

@media (max-width: 425px){ 
    .btn {
        height: 40px;
        width: 70px;
        font-size: 0;
        line-height: 0;
    }
    .img_btn { 
        display: none;
    }
    #pokemon-go {
        width: 90px;
        height: auto;
    }
    .title{
        font-size: 30px;
    }
}

.table {
    table-layout: auto;
    width: auto; 
    margin-left: auto; 
    margin-right: auto; 
}  

.col-4{
    margin-bottom: 10px;
}

#percent{
    display: none;
    text-align: center;
    background: blue;
    color: white;
    height: 40px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}
