.jumbotron {
    background: #0328DE;
    color: #ffffff;
    padding: 40px 0;
    }

/* thead, tbody {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
    
tr:nth-child(even) {
    background-color: #dddddd;
}
    
#img {
    height: 50px;
    width: auto;
} */